/* 
@media (max-width: 960px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
}
@media (max-width: 668px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
} */
 
.iconfont {
  cursor: pointer;
}


::-webkit-scrollbar{
   width: 10px;
  height: 5px;
}
 

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
  

::-webkit-scrollbar-thumb:vertical
{
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
  

::-webkit-scrollbar-thumb:horizontal{
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
  
